<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.ganedata.Warehouse_Handheld" android:installLocation="internalOnly" android:versionName="c53f2002">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:label="Warehouse Handheld">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.ganedata.Warehouse_Handheld.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<!--<meta-data android:name="io.fabric.ApiKey" android:value="c4729d9cdc84c53a6ccfee22d7611045947339e2" />-->
		<!--<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />-->
	</application>
</manifest>